# Byte-compiled / optimized / DLL files  
__pycache__/  
*.py[cod]  
*$py.class  
  
# C extensions  
*.so  
  
# Distribution / packaging  
.Python  
build/  
develop-eggs/  
dist/  
downloads/  
eggs/  
.eggs/  
lib/  
lib64/  
parts/  
sdist/  
var/  
wheels/  
*.egg-info/  
.installed.cfg  
*.egg  
MANIFEST  
  
# PyInstaller  
#  Usually these files are written by the pyinstaller or cx_Freeze script to  
#  indicate to the uninstaller which files were put there.  
*.spec  
  
# Installer logs  
pip-log.txt  
pip-delete-this-directory.txt  
  
# Unit test / coverage reports  
htmlcov/  
.tox/  
.coverage  
.coverage.*  
.cache  
nosetests.xml  
coverage.xml  
*.cover  
.hypothesis/  
  
# Translations  
*.mo  
*.pot  
  
# Django stuff:  
*.log  
local_settings.py  
db.sqlite3  
  
# Flask stuff:  
instance/  
.flaskenv  
  
# Scrapy stuff:  
.scrapy  
  
# Sphinx documentation  
docs/_build/  
  
# PyCharm  
.idea/  
*.iml  
modules.xml  
.DS_Store  
  
# macOS specific  
.DS_Store  
.AppleDouble  
.LSOverride  
  
# Thumbnails  
._*  
  
# Optional: Include your own secret file  
secrets.py  
config.py  
  
# Virtual environment  
venv/  
.venv/  
env/  
.env/  
  
# Jupyter Notebook  
.ipynb_checkpoints/  
*.ipynb_checkpoints  
*.ipynb  
  
# IPython  
profile_default/  
ipython_config.py  
  
# VSCode  
.vscode/  
  
# Other IDEs  
*.sublime-project  
*.sublime-workspace  
.project  
.classpath  
.settings/  
  
# mkdocs documentation  
/site  
  
# mypy  
.mypy_cache/  
  
# Pyre type checker  
.pyre/  
  
# Nuitka compiled files  
__pycache__/  
*.bin  
*.oso  
*.pyd  
*.pyc
